@font-face {
  font-family: "iconfont"; /* Project id 2658263 */
  src: url('//at.alicdn.com/t/font_2658263_zb8jza6ls.woff2?t=1640660049019') format('woff2'),
       url('//at.alicdn.com/t/font_2658263_zb8jza6ls.woff?t=1640660049019') format('woff'),
       url('//at.alicdn.com/t/font_2658263_zb8jza6ls.ttf?t=1640660049019') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianxi2hebing_gonglve:before {
  content: "\e7aa";
}

.icon-duigou_kuai:before {
  content: "\ed1d";
}

.icon-cuocha_kuai:before {
  content: "\ed1e";
}

.icon-icon-fujian:before {
  content: "\e73a";
}

.icon-arrow-left:before {
  content: "\e612";
}

.icon-copy1:before {
  content: "\e6f3";
}

.icon-arrow_login:before {
  content: "\e692";
}

.icon-arrow_login-1:before {
  content: "\e693";
}

.icon-checkbox:before {
  content: "\e611";
}

.icon-queding:before {
  content: "\e667";
}

.icon-wenjianjia:before {
  content: "\e848";
}

.icon-delete:before {
  content: "\e651";
}

.icon-delete1:before {
  content: "\e65d";
}

.icon-Save:before {
  content: "\e659";
}

.icon-fengjin:before {
  content: "\e610";
}

.icon-cha1:before {
  content: "\e60e";
}

.icon-ClosewithcircleFilled:before {
  content: "\e60c";
}

.icon-add1:before {
  content: "\e60b";
}

.icon-gary:before {
  content: "\e62d";
}

.icon-left-arrow2:before {
  content: "\e60a";
}

.icon-right-arrow1:before {
  content: "\e699";
}

.icon-UploadCloud:before {
  content: "\e74b";
}

.icon-yincang2:before {
  content: "\e603";
}

.icon-password:before {
  content: "\e605";
}

.icon-zhuye:before {
  content: "\e601";
}

.icon-enter:before {
  content: "\e609";
}

.icon-shezhi1:before {
  content: "\e600";
}

.icon-kecheng2:before {
  content: "\e828";
}

.icon-tongji:before {
  content: "\e69f";
}

.icon-chaxun:before {
  content: "\e604";
}

.icon-pigaizuoye:before {
  content: "\e734";
}

.icon-guanlian:before {
  content: "\e6c4";
}

.icon-yuan:before {
  content: "\e66b";
}

.icon-zhiding:before {
  content: "\e624";
}

.icon-daochu:before {
  content: "\e658";
}

.icon-add2:before {
  content: "\e687";
}

.icon-correct2:before {
  content: "\e62e";
}

.icon-error4:before {
  content: "\e63f";
}

.icon-sort:before {
  content: "\e842";
}

.icon-message:before {
  content: "\e602";
}

.icon-arrowup:before {
  content: "\e607";
}

.icon-arrowdown:before {
  content: "\e608";
}

.icon-edit:before {
  content: "\e60f";
}

.icon-shanchu1:before {
  content: "\e628";
}

.icon-xiayi:before {
  content: "\e6a0";
}

.icon-shangyi:before {
  content: "\e6a1";
}

.icon-iconfontarrows1:before {
  content: "\e626";
}

.icon-sousuoremenfenlei:before {
  content: "\e627";
}

.icon-add_line:before {
  content: "\e7fd";
}

.icon-Addnewcompose:before {
  content: "\e9c9";
}

.icon-jiantou3:before {
  content: "\e82c";
}

.icon-yulan:before {
  content: "\e634";
}

.icon-fenlei:before {
  content: "\e690";
}

.icon-help-circled:before {
  content: "\e65f";
}

.icon-add:before {
  content: "\e625";
}

.icon-close:before {
  content: "\e60d";
}

.icon-flag:before {
  content: "\e633";
}

.icon-popup_icon_tips:before {
  content: "\e606";
}

.icon-Flagmarkpoint:before {
  content: "\e9ce";
}

.icon-tuichu2:before {
  content: "\e669";
}

.icon-ic24-user:before {
  content: "\f319";
}

.icon-Other-33:before {
  content: "\e642";
}

.icon-xueyuan-kaoshi:before {
  content: "\e6c3";
}

.icon-home:before {
  content: "\e616";
}

.icon-arrowhead-left1:before {
  content: "\e649";
}

.icon-arrowhead-right1:before {
  content: "\e676";
}

