*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, .main {
    height: 100%;
    min-height: 100%;
    background-color: #eff3f7;
}
ul,li{
	list-style: none;
}
img{
	display: block;
}
html,body{
	height: 100%;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
a {
    text-decoration: none;
    color: inherit;
}
a:focus, a:hover, a:active, a:visited{
	text-decoration: none;
	color:inherit;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:action{
    color: #fff;
    background-color: #81a8ff;
    border-color: #81a8ff;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.ellipsis{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text_ellip2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.hidden {
    display: none !important;
}
.sp10{
    height:10px;
}
.sp20{
    width:100%;
    height:20px;
}
.mr20{
    margin-right:20px;
}
.bgcolorgray{
    background:#f5f7fa;
}
.position-left-0 {
    left: 0;
}
.keyFillContent .input-group input::-webkit-input-placeholder {
    color: #9090A4;
    opacity: 1;
}
.courseobjectiviesbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7px;
}
.courseobjectiviesbox select{
    width: 180px;
}
.layui-border-blue {
    border-color: #81a8ff!important;
    color: #81a8ff!important;
}
.disflex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.disnone{
	display: none;
}
.posirela{
	position: relative;
}
.text-center{
    text-align:center;
}
.textright{
    text-align: right;
}
.w100{
    width:100%
}
label{
	margin-bottom: 0px;
}
.modal-header{
	border: none;
}
.layui-form-checked[lay-skin=primary] i{
    border-color: #81a8ff!important;
    background-color: #81a8ff;
}
.layui-layer-btn .layui-layer-btn0{
    border-color: #81a8ff;
    background-color: #81a8ff;
}
.layui-btn{
    height:36px;
    line-height:36px;
    border-radius:4px;
}
.layui-laydate .layui-this{
    background-color: #81a8ff!important;
}
.layui-btn-xs{
    border-radius:3px!important;
    height: 22px!important;
    line-height: 22px!important;
}
.layui-btn-sm{
    height: 30px!important;
    line-height: 30px!important;
}
.layui-laydate-content td, .layui-laydate-content th{
    font-size:14px;
}
.btn-warning:hover{
    background:#81a8ff;
    border:1px solid #81a8ff;
}
.btn-primary:hover{
    background:#92b1f5;
    border:1px solid #92b1f5;
}
.layui-table-page .layui-laypage span.layui-laypage-curr{

}
.paperclassbtn input::-webkit-input-placeholder {
    color: #80A8FF;
    opacity: 1;
}
::-webkit-scrollbar-track-piece {
    background-color:#F5F5F5;
}
::-webkit-scrollbar{
    width:6px;
    height:9px;
}
::-webkit-scrollbar-thumb{
    background-color:#81a8ff;
    background-clip:padding-box;
    min-height:28px;
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#81a8ff;
}
@media (min-width: 1200px){
	.container {
		max-width: initial;
	}
}
